body{
    background: url("./ASSETS/IMAGES/carwash08.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#nav p{
    margin-left: 2%;
}
#nav img{
    float: left;
    height: 100px;
    width: 100px;
    
}

#navitems{
    display: flex ;
    padding-right: 30px;
}

#navitems p{
    list-style: none;
    /* display: inline-flex; */
    /* padding-left:200px; */
    
    color: white;
    font-weight: 800;
    font-size: 20px;
    padding-right: 50px;
}


.banner{
    /* position: absolute; */
    width: 100%;
    /* height: 75px; */
    /* left: 50px; */
    /* top: 27px; */
    background: #FF0000;
    opacity: 0.6;
    display: flex;
    justify-content: space-between;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]:hover {
    background-color: cyan;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}
.container h2{
    padding-bottom: 20px;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    display: table;
    clear: both;
}

.column label {
    font-weight: 800;
}