#bckgrnd {
    position: absolute;
    left: 0px;
    top: 0px;
}
#msa {
    position: absolute;
    width: 256px;
    height: 66px;
    left: 592px;
    top: 57px;
    font-family: Post No Bills Jaffna ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 37px;
    line-height: 66px;
    color: white;
}
#b10 {
    position: absolute;
    left: 85px;
    top: 161px;
    background: url(ASSETS/IMAGES/Carwash Buildings (page3)/bldng10.jpg);
    border: 4px solid #FF0000;
}
#b11 {
    position: absolute;
    left: 532px;
    top: 162px;
    background: url(ASSETS/IMAGES/Carwash Buildings (page3)/bldng11.jpg);
    border: 4px solid #FF0000;
}
#b13 {
    position: absolute;
    left: 974px;
    top: 161px;
    background: url(ASSETS/IMAGES/Carwash Buildings (page3)/bldng13.jpg);
    border: 4px solid #FF0000;
}
#b23 {
    position: absolute;
    left: 85px;
    top: 512px;
    background: url(ASSETS/IMAGES/Carwash Buildings (page3)/bldng23.jpg);
    border: 4px solid #FF0000;
}
#b20 {
    position: absolute;
    left: 532px;
    top: 512px;
    background: url(ASSETS/IMAGES/Carwash Buildings (page3)/bldng20.jpg);
    border: 4px solid #FF0000;
}
#b18 {
    position: absolute;
    left: 974px;
    top: 512px;
    background: url(ASSETS/IMAGES/Carwash Buildings (page3)/bldng18.jpg);
    border: 4px solid #FF0000;
}
