#bakround {
    position: absolute;
    left: 0;
    top: 0;
}
#icon1 {
    position: absolute;
    left: 129px;
    top: 185px;
}
#icon2 {
    position: absolute;
    left: 601px;
    top: 185px;
}
#icon3 {
    position: absolute;
    left: 1152px;
    top: 176px;
}
#icon4 {
    position: absolute;
    left: 129px;
    top: 405px;
}
#msa {
position: absolute;

left: 160px;
top: 270px;

font-family: Ramaraja;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 77px;

color: #FFFFFF;
}
#runda {
    position: absolute;
    width: 111px;
    height: 77px;
    left: 650px;
    top: 270px;
    
    font-family: Ramaraja;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 77px;
    
    color: #FFFCFC;
}
#ngong {
    position: absolute;
width: 187px;
height: 77px;
left: 1200px;
top: 270px;

font-family: Ramaraja;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 77px;

color: #FFFFFF;
}
#kilimani {
    position: absolute;
width: 148px;
height: 77px;
left: 160px;
top: 498px;

font-family: Ramaraja;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 77px;

color: #FFFFFF;
}