#nav p{
    margin-left: 2%;
    padding-bottom: 250px;
}
#nav img{
    float: left;
    height: 100px;
    width: 100px;
    
}

#navitems{
    display: flex ;
    padding-right: 30px;
    justify-content: space-between;
}

#navitems p{
    list-style: none;
    /* display: inline-flex; */
    /* padding-left:200px; */
    color: white;
    font-weight: 800;
    font-size: 20px;
    padding-right: 50px;
}

footer{
        
    background-color: #FF0000;
   /* text-align: center; */
   
    /* margin-left: 40%;
   
   margin-bottom: 0%;
   height: 50px; */
   font-family: 'Pacifico', cursive;
   margin-top: 2%;
   padding-top: 20px;
}
footer div{
display: flex;
margin-left: 40%;

}
footer div img{
padding-left: 20px;
}